HTTP_ADDR=:3000
HTTP_PORT=3000

POSTGRES_DB=workout_tracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

DATABASE_URL=postgres://postgres:postgres@localhost:5432/workout_tracker?sslmode=disable
DOCKER_DATABASE_URL=postgres://postgres:postgres@postgres:5432/workout_tracker?sslmode=disable
